*{
    margin:0px;
    padding:0%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Vesper Libre', serif;
}


header{
    width:100vw;
    height:100vh;

}

nav{
    width: 90%;
    margin:10px auto;
    text-align: right;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(207, 19, 107);
    font-size: 20px;
    margin:0px 10px;
    letter-spacing: 1px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.strapline-container{
    border:2px solid rgb(207, 19, 107);
    width:90%;
    height: 85%;
    margin: auto auto;
    text-align:center;
    background-image: url(./images/rod-long-6SMF42-JTAc-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.main-strapline{
    color:rgb(207, 19, 107);
    font-size:110px;
    text-transform: uppercase;
    margin: 50px 0px;
    font-family: 'Poppins', sans-serif;
}
.second-strapline{
    color:#FFFFDD;
    font-size: 35px;
    font-style: italic;
}

.section-title{
    text-align:center;
    font-family: 'Poppins', sans-serif;
    color:rgb(207, 19, 107);
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;

}
.about-section{
    width: 100vw;
    height: 90vh;
}